.heart svg {
    width: 30px;
    height: 30px;
}

.navbar {
    height: 60px;
    background: #680747;
}

.text-navbar {
    margin-left: 20px;
    color: white;
}

.logo-font {
    font-family: 'Press Start 2P', cursive;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    color: #ad1457;
}

header {
    background-color: rgb(51, 51, 51);
    background-image: url(../img/bg_header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 737px;
    text-align: center;
    padding-top: 560px;
}

#hr_header {
    background-color: #4b0268;
    height: 3px;
    width: 300px;
    border: 2px;
    margin: 0px auto;
}

#cardStyle {
    background-color: #680747;
}

#ulTrab {
    color: white;
}

#carouselImg img {
    height: 600px;

}

.secCont {
    height: 250px;
}

.contacto {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    padding: 40px 60px;
    display: inline-block;
    text-decoration: none;
    background-color: #ed0cef;
    color: white;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    margin: 0;
    border-radius: 25px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 30px;
}
.contacto:hover{
    color:#2c003e;
}
.color{
    color: #680747;
}
footer {
    background-color: #680747;
}
.iconosF{
    color: white;
    text-decoration: none;
    outline: none !important ;

}